/* #letters {
    margin-top: 200px;
    float: left;
    width: 300px;
}

.letters {
    width: 50px;
    height: 50px;
}

#wordbox {
    border-style: dotted;
    position: absolute;
    width: 600px;
    height: 200px;
    top: 0px;
    right: 0px;
    margin-top: 200px;
} */

.myButtons {
    width: 70px;
    height: 50px;
    color: #FFFFFF;
    font-family: cursive;
    font-size: 36px;
    line-height: 45px;
    background: #7A4675;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
    margin-left:20px;
    margin-top: 10px;
}
.guessWord{
    position: relative;
    display: inline;
    margin-left: 20px;
    top: 250px;
    left: 274px;
}